extends ../layout/index.pug

block contenido  
    div(class= "py-10")
        h1(class = "font-extrabold text-4xl my-10 text-center") Bienes
            span(class= "font-normal") Raices
        h2(class="text-center text-3xl font-extrabold ")= pagina 

        p(class="mt-14 text-xl font-bold text-center")= mensaje