extends ../layout/index.pug

block contenido  
    div(class= "py-10")
        h1(class = "font-extrabold text-4xl my-10 text-center") Bienes
            span(class= "font-normal") Raices
        h2(class="text-center text-3xl font-extrabold ")= pagina 

        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
            form(class="space-y-8")
                div.space-y-8
                    h3(class="text-lg leading-6 font-medium text-gray-900") Informacion General.
                    p(class=" text-gray-600") Agrega Informacion sobre la propiedad en venta.

                div(class="mt-2")
                    label(for="titulo" class="block text-sm uppercase text-gray-500 mb-2 font-bold") Titulo del anuncion 
                    input(type="text" name="titulo" id="titulo" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="titulo propiedad, ej. Casa de la playa")
                    
                div(class="mt-2")
                    label(for="categoria" class="block text-sm uppercase text-gray-500 mb-2 font-bold") Categoria 
                    select(name="categoria" id="categoria" class="w-full px-3 py-2 border border-gray-300 rounded-md")
                        option(value="") - seleccione - 